teachbooks # BUMP to 0.2.2
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-tudelft-theme #BUMP
sphinx-proof
sphinx-named-colors
teachbooks-sphinx-tippy
sphinx-iframes
sphinx-exercise
sphinx-dropdown-toggle
sphinx-code-examples #BUMP to ...

# now list the packages (and the respective url) you wish to download from the GitLab package registry
git+https://github.com/TeachBooks/Sphinx-Thebe

docutils==0.17.1
